/* CSS Document*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
    font-size: 15px; 
    color: rgb(255, 255, 255);
    background: rgb(241, 241, 241);
    width: 100%;

}
#wrapper{
    width: 1200px;
    height: auto;
    background: #FFF;
    float: left;
    margin-left: 75px;
}

#header{
    width: 100%;
    height: 25px;
    float: left;
}
.account ul{
    width: 100%;
    height: 25px;
    list-style: none;
    background: rgb(15, 33, 36);
    line-height: 25px;
}
.account ul li{
    float: right;
    margin-right: 20px;
}
.account ul li a{
    font-size: 12px;
    text-decoration: none;
    color: #FFF;
}
#menu-top{
    background: linear-gradient(90deg,rgb(18, 36, 44) 50%,rgb(47, 97, 119) 87%,rgb(72, 164, 204) 100%);
    width: 100%;
    height: 60px;
    float: left; 
    line-height: 60px;
}
#menu-top ul{
    width: 100%;
    height: 40px;
    list-style: none;
}
#menu-top ul li{
    float: left;
    line-height: 40px;
    position: relative;
}
#menu-top ul li:hover ul{
    display: block;
}
#menu-top ul li a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    display: block;
    padding-right: 30px;
    padding-left: 30px;
}
#menu-top ul li p{
    text-decoration: none;
    color: rgb(226, 226, 226);
    display: block;
    padding-right: 30px;
    padding-left: 30px;
}
#menu-top ul li p:hover{
    background: rgb(7, 173, 173);
    color: #FFF;
}
#menu-top ul li a img{
    width: 30px;
    height: 26px;
    padding-left: 5px;
}
#menu-top ul li a:hover{
    background: rgb(7, 173, 173);
    color: #FFF;
}
#menu-top ul li ul{
    width: 100%;
    display: none;
    position: absolute;
}
#menu-top ul li ul li{
    width: 100%;
    border-bottom: 1px solid rgb(134, 134, 134);
}
#menu-top ul li ul li a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    display: block;
    background: rgb(31, 30, 30);
}
#menu-top ul li ul li a:hover{
    background: rgb(7, 173, 173);
    color: #FFF;
}
#container{
    width: 1200px;
    height: auto;
}
#content{
    width: 100%;
    height: auto;
}
#footer{
    width: 100%;
    height: 180px;
    font-weight: bold;
    text-align: center;
    float: left;
    color: #FFF;
    background: rgb(18, 36, 44);
    line-height: 180px;
}
.timkiem{
    padding-left: 120px;
}
.box{
    width: 220px;
    text-align: center;
    padding-bottom: 5px;
    float: left;
    margin-left: 17px;
    margin-top: 17px;
}
.box a{
    height: 330px;
    display: block;
    text-decoration: none;
    transition-duration: 0.3s;
    border: 1px solid #eee;
    margin-left: -1px;
}
.box a:hover{
    text-decoration: none;
    border: 1px solid rgb(255, 72, 0);
}
.box a img{
    width: 200px;
    height: 180px;
}
.pname{
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: rgb(14, 144, 184);
    margin-top: 20px;
    padding-bottom: 20px;
}
.pprice{
    margin-top: 20px;
    padding-bottom: 20px;
    font: bold 15px arial;
    color: rgb(252, 91, 17);
}
.action{
    font:bold 10px arial;
}
.action a{
    text-decoration: none;
    color: rgb(21, 129, 201);
}
.sp{
    width: 100%;
    padding-bottom: 15px;
    float: left;
}
.sp p {
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    background: rgb(255, 255, 255); 
    border-top: 15px solid rgb(241, 241, 241);
    font:bold 19px arial;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.sp p a{
    display: block;
    text-decoration: none;
    transition-duration: 1s;
    margin-left: 15px;
    padding-top: 15px;
    font-size: 17px;
    color: #333;
    font-weight: 600;
}
.sp p a:hover{
    background: rgb(255, 255, 255);
    color: rgb(27, 64, 66);
}
.boxctsp{
    width: 100%;
    text-align: center;
    margin-top:19px;
    margin-left: 19px;
}
.description{
    float: left;
}

/* form đăng ký */
.boxregister{
    width: 100%;
    background: #eff0f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.boxreg{
    width: 750px;
    height: 400px;
    margin: auto;
    background: #FFF;
    padding: 20px;
}
.boxreg-l{
    width: 380px;
    float: left;
}

.boxreg-r{
    width: 300px;
    float: left ;
    margin-left: 50px;
}
.mod-input{
    width: 100%;
}
.mod-input-eror{
    border: 1px solid #f44336;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
}
.mod-input p{
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    color: rgb(39, 37, 37);
    display: block;
    margin-bottom: 5px;
}
.normal{
    box-sizing: border-box;
    width: 100%;
    border:1px solid #ddd;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
}
.clicktext{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(165, 165, 165);
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
}
.mod-input input::placeholder{
    color: #b3b3b3;
}
.mod-input span{
    min-height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #f44336;
    visibility: visible;
    display: block;
    margin-bottom: 10px;
}
.boxreg-birthday{
    float: left;
}
.boxreg-sex{
    float: left;
    width: 115px;
}
.boxreg-birthday p{
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    color: rgb(39, 37, 37);
    display: block;
    margin-bottom: 5px;
}
.input-birthday{
    width: 260px;
}
.input-birthday select option{
    color:  rgb(31, 30, 30);
}
.input-birthday-day{
    float: left;
    width: 65px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-birthday-day-eror{
    float: left;
    width: 65px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.input-birthday-month{
    float: left;
    width: 65px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-birthday-month-eror{
    float: left;
    width: 65px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.input-birthday-year{
    float: left;
    width: 80px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-birthday-year-eror{
    float: left;
    width: 80px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.label{
    color: #fa1b0b;
}
.input-sex{
    width: 70px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-sex-eror{
    width: 70px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.boxreg-sex select option {
    color: rgb(31, 30, 30);
}
.input-sex select option:hover {
    background: rgb(160, 5, 5);
}
.recaptcha{
    font-size: 12px;
    color: #ff424f;
    margin-top: 5px;
}
.btnsubmit{
    box-sizing: border-box;
    width: 100%;
    background: rgb(37, 167, 167);
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
    color: #FFF;
    border: 1px solid rgb(37, 167, 167);
    border-radius: 2px;
}
/* form đăng nhập */
.boxlogin{
    width: 100%;
    background: #eff0f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.boxlog{
    width: 750px;
    height: 220px;
    margin: auto;
    background: #FFF;
    padding: 30px;
}
.boxlog-l{
    width: 380px;
    float: left;
}

.boxlog-r{
    margin-top: 12px;
    width: 300px;
    float: left;
    margin-left: 50px;
}

/* Thông tin cá nhân */
.box-info{
    width: 100%;
    height: auto;
}
.info-left{
    width: 200px;
    height: 350px;
    float: left;
    background: rgb(241, 241, 241);
    color: #424242;
    font-family: Roboto-Regular;
    font-size: 12px;
}
.info-right{
    float: left;
    width: 995px;
    height: 350px;
}
.mod-container{
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #424242;
    letter-spacing: 0;
    line-height: 24px;
}
.mod-container li{
    list-style: none;

}
.mod-container li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}