/* CSS Document*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
    font-size: 15px; 
    color: rgb(255, 255, 255);
    background: rgb(241, 241, 241);
    width: 100%;

}
#wrapper{
    width: 1200px;
    height: auto;
    background: #FFF;
    float: left;
    margin-left: 75px;
}

#header{
    width: 100%;
    height: 25px;
    float: left;
}
.account{
    width: 100%;
    height: 25px;
    float: left; 
}
.account ul{
    width: 100%;
    height: 25px;
    list-style: none;
    background: linear-gradient(90deg,rgb(18, 36, 44) 50%,rgb(27, 91, 121) 87%,rgb(18, 36, 44) 100%);
}
.account ul li{
    float: right;
    padding-right: 15px;
    position: relative; 
    line-height: 24px;
}
.account ul li a{
    font-size: 12px;
    text-decoration: none;
    color: #ccdedf; 
}
.account ul li a:hover{
    color: #ffffff;
}
.account ul li:hover ul{
    display: block;
}
.account ul li>ul{
    width: 88%;
    height: auto;
    display: none;
    position: absolute;
    border: 1px solid rgb(243, 125, 57);
    border-top: 0px;
    border-radius: 2px;
}

.account ul li>ul li{
    float: left;
    width: 100%;  
}
.account ul li>ul li a{
    text-align: center;
    width: 100%;
    color: rgb(49, 49, 49);
    display: block;
    background: rgb(253, 253, 253);
    line-height: 25px;
}

.account ul li ul li a:hover{
    color: rgb(15, 169, 180);
}
.menu-bottom{
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg,rgb(18, 36, 44) 50%,rgb(27, 91, 121) 87%,rgb(17, 140, 192) 100%);
    line-height: 25px;
}
#menu-top{
    background: linear-gradient(90deg,rgb(18, 36, 44) 50%,rgb(27, 91, 121) 87%,rgb(17, 140, 192) 100%);
    width: 100%;
    height: 40px;
    float: left; 


}
#menu-top ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-top ul li{
    float: left;
    line-height: 40px;
    position: relative; 
}
#menu-top ul li:hover ul{
    display: block;
}

#menu-top ul li a{
    padding-right: 30px;
    padding-left: 30px;
    white-space: nowrap;
}
#menu-top ul>li>a{
    text-decoration: none;
    color: rgb(216, 229, 240);
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    white-space: nowrap;
}
#menu-top ul li a img{
    width: 30px;
    height: 26px;
    padding-left: 5px;
    margin-top: 7px;
    display: block;
    padding-bottom: 7px;
}
#menu-top ul li a:hover{
    background: #fff;
    color:#757575;
}
#menu-top ul li>ul{
    width: 99.5%;
    height: 40px;
    display: none;
    position: absolute;
}
#menu-top ul li>ul li{
    width: 100%;
    border: 1px solid #ebebeb;
    margin-top: -1px;
}
#menu-top ul li ul li a{
    text-decoration: none;
    display: block;
    background: #fff;
    font-size: 13px;
    line-height: 40px;
    color: #757575;
}
#menu-top ul li ul li a:hover{
    background: #fff;
    color: #1a9Cb7;
}

/* banner >>*/
.banner-wrap{
    width: 100%;
    height: auto;
    border-top: 20px solid rgb(241, 241, 241);
}
.slide{
    width: 600px;
    float: left;
    overflow: hidden;
}
.move-slide{
    width: 9000px;
    transition: 0.5s;

}
.move-slide img{
    width: 600px;
    height: 225px;
    float:left;
}
.control{
    position: absolute;
    color: white;
    font-size: 40px;
    margin-top: 100px;
    padding-left: 20px;
}
.next{
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 530px;
    display: none;
    margin-top: -28px;
}
.prev{
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}
/* << banner*/
#container{
    width: 1200px;
    height: auto;
}
#content{
    width: 100%;
    height: auto;
}
#footer{
    width: 100%;
    height: 180px;
    font-weight: bold;
    text-align: center;
    float: left;
    color: #FFF;
    background: rgb(18, 36, 44);
    line-height: 180px;
}
.timkiem{
    padding-left: 120px;
}
.box{
    width: 220px;
    text-align: center;
    padding-bottom: 5px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    height: 300px;
    border: 1px solid #eee;
}
.box a{
    height: 240px;
    display: block;
    text-decoration: none;
    margin-left: -1px;
    padding-top: 5px;
}
.shopping_cart{
    width: 40px;
    margin-left: 90px;
}
.shopping_cart a{
    height: 40px;
    display: block;
    text-decoration: none;
    margin-left: -1px;
    padding-top: 5px;
}
.motionpictures{
    width: 150px;
    height: 130px;
    margin-top: 20px;
}
.motionpictures_top{
    width: 150px;
    height: 130px;
    margin-top:15px;
    transition-duration: 0.2s;
    margin-bottom: 5px;
}
.motionpictures_bottom{
    width: 150px;
    height: 130px;
    margin-top:20px;
    transition-duration: 0.2s;
}
.pname{
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 5px;
    
}
.pprice{
    padding-bottom: 20px;
    font: bold 15px arial;
    color: rgb(252, 25, 17);
}
.action{
    font:bold 10px arial;
}
.action a{
    text-decoration: none;
    color: rgb(21, 129, 201);
}
.sp{
    width: 100%;
    padding-bottom: 15px;
    float: left;
}
.sp p {
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    background: rgb(255, 255, 255); 
    border-top: 10px solid rgb(241, 241, 241);
    border-bottom: 1px solid #eee;
}
.sp p a{
    display: block;
    text-decoration: none;
    transition-duration: 1s;
    margin-left: 15px;
    padding-top: 15px;
    font-size: 17px;
    color: rgb(65, 65, 65);
    font-weight: 600;
    font:17px arial;
}
.boxctsp{
    width: 100%;
    text-align: center;
    margin-top:19px;
    margin-left: 19px;
    color: #333;
}
.description{
    float: left;
}
.find{
    width: 100%;
}

/* form đăng ký */
.boxregister{
    width: 100%;
    background: #eff0f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.boxreg{
    width: 750px;
    height: 400px;
    margin: auto;
    background: #FFF;
    padding: 20px;
}
.boxreg-l{
    width: 380px;
    float: left;
}

.boxreg-r{
    width: 300px;
    float: left ;
    margin-left: 50px;
}
.mod-input{
    width: 100%;
}
.mod-input-eror{
    border: 1px solid #f44336;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
}
.mod-input p{
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    color: rgb(39, 37, 37);
    display: block;
    margin-bottom: 5px;
    
}
.mod-input input::placeholder{
    color: #b3b3b3;
}
.normal{
    box-sizing: border-box;
    width: 100%;
    border:1px solid #ddd;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
    color: rgb(59, 59, 59);
}
.clicktext{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(165, 165, 165);
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
}
.mod-input span{
    min-height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #f44336;
    visibility: visible;
    display: block;
    margin-bottom: 10px;
}
.boxreg-birthday{
    float: left;
}
.boxreg-sex{
    float: left;
    width: 115px;
}
.boxreg-birthday p{
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    color: rgb(39, 37, 37);
    display: block;
    margin-bottom: 5px;
}
.input-birthday{
    width: 260px;
}
.input-birthday select option{
    color:  rgb(31, 30, 30);
}
.input-birthday-day{
    float: left;
    width: 65px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-birthday-day-eror{
    float: left;
    width: 65px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.input-birthday-month{
    float: left;
    width: 65px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-birthday-month-eror{
    float: left;
    width: 65px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.input-birthday-year{
    float: left;
    width: 80px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-birthday-year-eror{
    float: left;
    width: 80px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.label{
    color: #fa1b0b;
}
.input-sex{
    width: 70px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}
.input-sex-eror{
    width: 70px;
    height: 40px;
    border: 1px solid #f44336;
    color: #9e9e9e;
}
.boxreg-sex select option {
    color: rgb(31, 30, 30);
}
.input-sex select option:hover {
    background: rgb(160, 5, 5);
}
.recaptcha{
    font-size: 12px;
    color: #ff424f;
    margin-top: 5px;
}
.btnsubmit{
    box-sizing: border-box;
    width: 100%;
    background: rgb(37, 167, 167);
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
    color: #FFF;
    border: 1px solid rgb(37, 167, 167);
    border-radius: 2px;
}
/* form đăng nhập */
.boxlogin{
    width: 100%;
    background: #eff0f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.boxlog{
    width: 750px;
    height: 220px;
    margin: auto;
    background: #FFF;
    padding: 30px;
}
.boxlog-l{
    width: 380px;
    float: left;
}

.boxlog-r{
    margin-top: 12px;
    width: 300px;
    float: left;
    margin-left: 50px;
}

/* Thông tin cá nhân */
.box-info{
    width: 100%;
    height: 530px;   
    border-top: 30px solid  rgb(241, 241, 241);
    background: rgb(241, 241, 241);

}
.info-left{
    width: 200px;
    height: 500px;
    float: left;
    background: rgb(241, 241, 241);
    color: #424242;
    font-family: Roboto-Regular;
    font-size: 12px;
}
.info-right{
    float: left;
    width: 998px;
    height: 500px;
    border-radius: 2px;
    border: 1px solid rgb(233, 233, 233);
    background: rgb(255, 255, 255);
}
.mod-container{
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,Arial;
    font-size: 14px;
    color: #424242;
    letter-spacing: 0;
    line-height: 24px;
}
.mod-container li{
    list-style: none;
}
.mod-container li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
}
.mod-container li a:hover{
    color: #1a9Cb7;
}
.header-info{
    width: 950px;
    height: 60px;
    margin: 24px;
    border-bottom: 1px solid rgb(235, 234, 234);
}
.header-info p{
    color: #333;
    font-family: Helvetica Neue,Helvetica,Arial;
    font-size: 18px;
}
.header-security{
    color: #555;
    font-family: Helvetica Neue,Helvetica,Arial;
    font-size: 14px;
    margin-top: 5px;
}
.profile{
    width: 100%;
    height: 440px;
    float: left;
}
.profile-left{
    width: 600px;
    height: 440px;
    float: left;
}   
.profile-right{
    width: 348px;
    height: 200px;
    float: left;
    border-left: 1px solid rgb(235, 234, 234);
}
.input-profile{
    width: 100%;
    float: left;
}
.input-profile-label{
    width: 23.5%;
    text-align: right;
    color: rgba(85,85,85,.8);
    text-transform: capitalize;
    float: left;
    line-height: 40px;
    font-size: 14px;
}
.input-profile-content{
    box-sizing: border-box;
    padding-left: 1.25rem;
    width: 65%;
    float: left;
    color: #333;
    line-height: 40px;
}
.btnsave{
    width: 70px;
    height: 40px;
    margin-left: 160px;
    border-radius: 2px;
    border:1px solid rgb(37, 167, 167);
    background: rgb(37, 167, 167);
    color: #FFF;
    margin-top: 25px;
}
.member-info{
    color: #fc5d13;
}

/* Giỏ hàng */
.cart-wrap{
    width: 68%;
    height: 500px;
    margin-top: 30px;
    color: #333;
    font-size: 14px;
    float: left;
}
.cart-title{
    width: 68%;
    float: left;
    height: 50px;
}
.cart-title h2{
    color: #333;
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Roboto Condensed',Arial,sans-serif;
    float: left;
    line-height: 1.3;   
}
.cart-title .product-total{
    float: left;
    font-size: 14px;
    color: #989898;
    padding-top: 2px;
    margin-left: 7px
}
.cart-content{
    width: 100%;
    float: left;
    height: 130px;
     
}
.cart-info{
    width: 31.8%;
    float: left;
    border: 1px solid rgb(192, 192, 192);
    height: 200px;   
}
.cart-content-left{
    width: 72%;
    float: left;
    height: 130px;   
}
.cart-content-right{
    width: 24.5%;
    border-left: 1px solid #ccdedf;
    height: 130px;
    float: left;
}
.cart-row-inner{
    width: 100%;
    margin-left: 10px;
}
.option-col{
    width: 30px;
    float: left;
    padding-top: 20px;
}

.option-col .checkmark{
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
}
.field-img-col {
    width: 57px;
    float: left;
    margin-right: 15px;
}
.field-img-col img{
    width: 57px;
    height: 50px;
}
.field-content-col {
    width: 230px;
    float: left;
    margin-right: 15px;
}
.field-content-col .field-name {
    margin-bottom: 10px;
}
.field-content-col .field-others {
    color: #989898;
    font-size: 13px;
}
.field-price-col {
    width: 100px;
    float: left;
    font-size: 15px;
    font-weight: 700;
    margin-right: 15px;
}
.field-price-col .price{
    font-size: 15px;
    font-weight: 700;
}
.field-qty-col {
    width: 100px;
    float: left;
}
.field-qty-col .qty{
    width: 70px;
    height: 24px;
    position: relative;
    border: 1px solid #ddd;
    display: block;
    zoom: 1;
}
.qty button {
    width: 20px;
    height: 22px;
    padding: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background: 0 0;
    cursor: pointer;
    border: none;
    float: left;
    font-family: 'Roboto Condensed',Arial,sans-serif;
    font-size: 14px;
    outline: 0;
    box-shadow: none;
}
.qty input{
        width: 28px;
        text-align: center;
        border: none;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 0;
        font-family: 'Roboto Condensed',Arial,sans-serif;
        font-size: 12px;
        line-height: 100%;
        float: left;
        margin-top: 5px;
        outline: 0;
        box-shadow: none;    
}
.field-status-col {
    font-size: 12px;
    color: #989898;
    padding-top: 5px;
    display: block;
}
.shipping-info{
    margin-bottom: 25px;
    position: relative;
    padding-left: 33px;
}
.shipping-info p{
    font-size: 12px;
    font-family: 'Roboto Condensed',Arial,sans-serif;
    font-weight: 700;
}
.shipping-info select{
    color: #333;
    outline: 0;
    box-shadow: none;  
    margin-top: 4px;
    font-size: 12px;
}
