/* CSS Document*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family:tahoma,Arial, Helvetica, sans-serif;
    font-size: 15px; 
    color: rgb(255, 255, 255);
    background: rgb(238, 238, 238);

}
#wrapper{
    width: 1200px;
    height: auto;
    margin: auto;
    background: #FFF;
}

#header{
    width: 100%;
    height: 300px;
}
#header img{
    width: 100%;
    height: 300px;

}
#menu-top{
    background: rgb(24, 24, 24);
    width: 100%;
    height: 40px;

}
#menu-top ul{
    width: 100%;
    height: 40px;
    list-style: none;
}
#menu-top ul li{
    float: left;
    line-height: 40px;
    position: relative;
}
#menu-top ul li:hover ul{
    display: block;
}
#menu-top ul li a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    display: block;
    padding-right: 30px;
    padding-left: 30px;
}
#menu-top ul li a img{
    width: 30px;
    height: 26px;
    padding-left: 5px;
}
#menu-top ul li a:hover{
    background: rgb(7, 173, 173);
    color: #FFF;
}
#menu-top ul li ul{
    width: 100%;
    display: none;
    position: absolute;
}
#menu-top ul li ul li{
    width: 100%;
    border-bottom: 1px solid rgb(134, 134, 134);
}
#menu-top ul li ul li a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    display: block;
    background: rgb(31, 30, 30);
}
#menu-top ul li ul li a:hover{
    background: rgb(7, 173, 173);
    color: #FFF;
}
#container{
    width: 100%;
    height: auto;
}
#content{
    width: 100%;
    height: auto;
}
#footer{
    width: 100%;
    height: 80px;
    font-weight: bold;
    text-align: center;
    clear: both;
    margin-top: 8px;
    color: #FFF;
    background: rgb(31, 30, 30);
    border-bottom: 8px solid rgb(7, 173, 173);
    border-top: 8px solid rgb(245, 170, 71);
    line-height: 80px;
}
.timkiem{
    padding-left: 120px;
}
.box{
    width: 220px;
    text-align: center;
    padding-bottom: 5px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.box a{
    height: 330px;
    display: block;
    text-decoration: none;
    border: 1px solid rgb(212, 212, 212);
}
.box a:hover{
    text-decoration: none;
    border: 1px solid rgb(243, 77, 12);
}
.box a img{
    width: 200px;
    height: 180px;
}
.pname{
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: rgb(14, 144, 184);
    margin-top: 20px;
    padding-bottom: 20px;
}
.pprice{
    margin-top: 20px;
    padding-bottom: 20px;
    font: bold 15px arial;
    color: rgb(252, 91, 17);
}
.action{
    font:bold 10px arial;
}
.action a{
    text-decoration: none;
    color: rgb(21, 129, 201);
}
.sp{
    width: 100%;
    padding-bottom: 15px;
    color: #000;
    float: left;

}
.sp p {
    width: 100%;
    height: 30px;
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background: rgb(7, 173, 173);
    margin-top: 20px;
}
.boxctsp{
    width: 100%;
    text-align: center;
    margin-top:19px;
    margin-left: 19px;
}
.description{
    float: left;
}